/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules

/storage/*
!/storage/.keep

/public/assets
/public/packs
/public/packs-test

.byebug_history

/config/master.key

.env
.env.local
.env.*.local

*.swp
*.swo
*~

.DS_Store
Thumbs.db

/coverage/

/spec/examples.txt

*.log

.idea/
.vscode/

*.gem
*.rbc
.bundle
.config
InstalledFiles
pkg
spec/reports
test/tmp
test/version_tmp

docker-compose.override.yml
